.skills {
  padding: 30px 0 90px;
  overflow: hidden;
  background-color: #fff;
}

.skills__container {
  position: relative;
}

.skills__bg-container {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
}

.skills__bg-img-block {
  display: flex;
  justify-content: flex-end;
  padding: 0 40px;
  z-index: 1;
}

.skills__bg-img-container {
  width: 90%;
  max-width: 400px;
  transform-origin: center;

  img {
    width: 100%;
    height: auto;
  }
}

.skills__title-block {
  position: relative;
  margin: 0 0 40px;
  padding: 20px 0;
}

.skills__title {
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  z-index: 3;
  color: #fff;
  mix-blend-mode: difference;
}

.skills__title-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #000;
  z-index: 2;
}

.skills__title-bar-long {
  position: absolute;
  top: -30px;
  left: 0;
  height: 120%;
  width: 0;
  background-color: rgba(90, 24, 154, 1);
  z-index: 1;
}

.skills__sections-block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  //flex-direction: column;
  z-index: 2;
}

.skills__section {
  margin: 0 0 30px;
  flex-shrink: 0;
  width: calc((100% - 30px) / 2);
  max-width: 500px;

  &:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

.skills__subtitle {
  display: inline-block;
  margin: 0 0 10px;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $primary;
  //background-color: rgba(90, 24, 154, 0.1);
  border-radius: 5px;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.skills__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.skills__item-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.skills__item-text {
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  color: $primary;
}

@include mobile {
  .skills {
    padding: 30px 0 50px;
  }

  .skills__title {
    font-size: 24px;
    line-height: 30px;
  }

  .skills__section {
    width: 100%;
  }

  .skills__subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .skills__item-text {
    font-size: 16px;
    line-height: 20px;
  }

  .skills__bg-container {
    top: 150px;
  }

  .skills__bg-img-container {
    min-width: 600px;
  }
}
