.title-block {
  position: relative;
  margin: 0 0 40px;
  padding: 20px 0;
  background: #fff;
}

.title {
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  z-index: 3;
  color: #fff;
  mix-blend-mode: difference;
}

.title-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}

.title-bar-long {
  position: absolute;
  top: -30px;
  left: 0;
  height: 120%;
  width: 0;
  background: linear-gradient(90deg, rgba(100, 100, 100, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}
